.main-header {
    background-color: #eeeeee;

    > .container {
        display: flex;
        padding-top: 50px;
        justify-content: space-between;

        /*не работает стилизация состояний */
        .main-header__logo {
            margin-top: -15px;
            color: #000000;
        }

        .logo__main:hover {
            color: #303030;
        }

        .main-header__navigation {
            width: 440px;

            .navigation__link-list {
                display: flex;
                justify-content: space-between;
                list-style: none;

                .item__link {
                    line-height: 30px;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #000000;

                }

                .item__link:hover {
                    color: #fb565a;
                }

                .item__link:active {
                    color: #a6a6a6;
                }
            }
        }

        .shopping-cart {
            position: relative;
            align-self: center;
            vertical-align: center;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            color: #000000;

            &::before {
                position: absolute;
                right: 100px;
                display: inline-block;
                content: url(../img/cart-icon.svg);
                opacity: 0.5;
            }
                /* не работает стилизация состояний */
            .shopping-cart:hover {
                color: #fb565a;
            }
        }
    }
}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 80px;
    padding-bottom: 110px;
    font-size: 55px;
    line-height: 55px;
}
