@import 'normalize.scss';
@import 'variables.scss';
@import 'utilities.scss';

@import 'header.scss';
@import 'footer.scss';

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    justify-content: space-between;
}

.filters {
    display: inline-block;

    form {
        display: flex;
        margin: 0;
        margin-top: 62px;
        width: 260px;
        justify-content: space-between;
        flex-direction: column;

        fieldset {
            display: flex;
            padding-bottom: 50px;
            justify-content: space-between;
            border: none;

            legend {
                padding-bottom: 20px;
                font-size: 18px;
                line-height: 30px;
                font-weight: 700;
                text-transform: uppercase;
            }

            label {
                position: relative;
                padding-bottom: 15px;
                padding-left: 35px;
                line-height: 20px;
                color: #283136;

                input {
                    margin-right: 10px;

                }
            }
        }
    }
}

/* Range стоимости */
.form-cost {
    input {
        background-color: #eeeeee;
        padding: 28px 18px;
    }
}

/* Выбор сетки */
input[type=radio] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.grid__input:checked + .grid__button {
    background-image: url(../img/radio-on.svg);
}

.grid__button {
    position: absolute;
    left: -1px;
    top: -3px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    opacity: 0.4;
}

/* Выбор сетки */

input[type=checkbox] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;

    &:checked {
        & + .checkbox__img {
            background-image: url(../img/checkbox-on.svg);
        }
    }

    &:disabled {
        & + .checkbox__img {
            opacity: 0.1;
        }
    }
}

.checkbox__img {
    position: absolute;
    left: -1px;
    width: 27px;
    height: 23px;
    opacity: 0.4;
    background-image: url(../img/checkbox-off.svg);
}

input[type=submit] {
    margin-left: 12px;
    padding: 19px 89px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
}

.content {
    .content__sorting {
        display: flex;
        margin-top: 58px;
        margin-bottom: 58px;

        .sorting__title {
            display: inline-block;
        }

        .sorting__filters {
            display: flex;
            list-style: none;
        }
    }
}

.content__products {
    display: flex;
    padding: 0;
    height: 1800px;
    justify-content: space-between;
    align-content: space-between;
    flex-basis: 360px;
    flex-wrap: wrap;
    list-style: none;

    & > .item {
        .item__link {
            img {
                border-radius: 10px;
            }
        }
    }
}
